{% extends "king_admin/table_index.html" %}
{% load tags %}
{% block container %}
    <div class="row">
    {{ admin_class.list_display }}
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <form class="" method="get">
                      {% for filter_field in admin_class.list_filters %}
                        <div class="col-lg-2">
                            <span>{{ filter_field }}</span>
                            {% render_filter_ele filter_field admin_class filter_condtions %}
                        </div>
                      {% endfor %}
                        <button type="SUBMIT" class="btn btn-success">检索</button>
                        <hr>
                        <div class="row">
                            <div class="col-lg-2" style="margin-left: 15px;margin-right: 15px;">
                                <input type="search" name="_q" class="form-control" value="{{ search_text }}"
                                       placeholder="search.{% for search_field in admin_class.search_fields %}{{ search_field }}.{% endfor %}">
                            </div>
                            <div class="col-lg-2">
                                <button type="SUBMIT" class="btn btn-success">Search</button>
                            </div>
                        </div>
                  </form>
              </div>

              <table class="table table-hover">
                  <thead>
                    <tr>
                        {% for column in admin_class.list_display %}
                            {% build_table_header_column column orderby_key filter_condtions %}
                        {% endfor %}
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <td><h5>总计{{ query_sets.paginator.count }}条</h5></td>
                      </tr>
                  </tfoot>
                  <tbody>
{#                    {% get_query_sets admin_class as query_sets%} <!--给他admin_class的返回值起一个别名query_set -->#}
                        {% for obj in query_sets %}  <!-- obj是一个对象 -->
                            <tr>
                                {% build_table_row request obj admin_class %}
                                {# <td>{{ obj }}</td> #}
                            </tr>
                        {% endfor %}
                  </tbody>
              </table>
              <nav>
                  <ul class="pagination">

                      {% if query_sets.has_previous %}
                            <li class=""><a href="?page={{ query_sets.previous_page_number }}">上页</a></li>
                      {% endif %}
                      {% build_paginators query_sets filter_condtions previous_orderby%}
                      {% if query_sets.has_next %}
                          <li class=""><a href="?page={{ query_sets.next_page_number }}">下页</a></li>
                      {% endif %}
                  </ul>
              </nav>
          </div>
        </div>
    </div>
{% endblock %}



